{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-4 mt-4 mb-4 mx-auto border rounded pt-4">
            <h3 class="alert alert-light border mt-4 mb-4 rounded">Login Here</h3>
            <form action="/login" method="POST">
                
                {% csrf_token %}

                {% if error%}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                <!-- email -->
                <div class="form-group">
                    <label for="">Email</label>
                    <input required type="email" name="email" id=""
                    value="{{values.email}}" 
                    class=" form-control-sm form-control" placeholder="example@gmail.com">
                </div>


                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" 
                    name="password" 
                    id=""
                     class="form-control form-control-sm" placeholder="********">
                </div>

                <div class="form-group">
                    <input class="btn btn-sm btn-info col-lg-4" type="submit" value="Login">
                </div>

                
            </form>
        </div>
    </div>
</div>

{% endblock %}